DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
TWILIO_ACCOUNT_SID = < Add Given Twilio Account SID >
TWILIO_AUTH_TOKEN = < Add Given Twilio Auth Token >
FROM_NUMBER = < Add a Phone Number to send from for Testing >
TO_NUMBER = < Add a Phone Number to receive to for Testing >